.chart {
  color: black;
  background-color: whitesmoke;
}

.cart {
  border-radius: 22px;
}

.cart-card input {
  border-radius: 8px;
  font-size: 14px;
}

.cart-card button {
  border-radius: 8px;
  font-weight: 500;
}
